<% content_for :title, "Casinogames" %>
  <% if @casinogames.any? %>
      <% @casinogames.each do |casinogame| %>
       
          <%= render casinogame %>
      <% end %>
    <% else %>
      <p class="text-center my-10">No casinogames found.</p>
    <% end %>
  